.mainpage{
    width: 100%;
height: 100%;
left: 0px;
top: 0px;
display: flex;
position: fixed;
justify-content: center;
align-items: center;
background: transparent;



}
.modalBackground{
    display: flex;
    flex-direction: column;
    
    padding: 24px;
    
    
    width: 400px;
    height: 247px;
   
    
    /* White */
    
    background: #FFFFFF;
    /* Shadow/xl */
    

    border-radius: 8px;
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
   
}
.modelcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.cancelbtn{
    background-color: transparent;
    border: none;
    width: 47px;
height: 28px;
left: 855px;
top: 284px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 28px;
/* identical to box height, or 200% */


color: #000000;

}
.title{
    width: 352px;
    height: 28px;
    left: 0px;
    top: 0px;
    
    /* Text lg/Medium */
    
    font-family: 'Inter';
    font-style: medium;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */
    
    
    /* Gray/900 */
    
    color: #101828;
    
    
    /* Inside auto layout */
    
   
    margin: 8px 5px;
}
.body{
    width: 352px;
height: 20px;
left: 0px;
top: 36px;

/* Text sm/Normal */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Gray/500 */

color: #667085;


/* Inside auto layout */


margin: 8px 5px;
}
.footerbtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.dischartbtn:hover{
    background: #14804A;  
    color: #FFFFFF;
}
.dischartbtn{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
text-transform: uppercase;
color: #2ac178;
width: 170px;
height: 43px;
border: none;

background: #E1FCEF;
border-radius: 4px;

/* Inside auto layout */



margin-right: 10px;
}
.closepostionbtn:hover
{
    background-color: rgb(181, 32, 32);
    color: #E1FCEF;
}
.closepostionbtn{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
color: #FFFFFF;
border: none;
width: 170px;
height: 43px;
text-transform: uppercase;

background: #F97066;
border-radius: 4px;

/* Inside auto layout */


margin-left: 10px;
}